// =============================================================================
// Mixins -- LinkPrimary size
// =============================================================================

//
// Mixin properties
// --------------------------------------------------------------------------

@mixin link-primary--size($root, $size, $important: null) {
  @if $size == "l" {
    @include desc--size($root, "l");

    .icon-svg {
      &:first-child {
        margin-right: px-to-rem(8px) $important;
      }

      &:last-child {
        margin-left: px-to-rem(8px) $important;
      }
    }
  }

  @if $size == "m" {
    @include desc--size($root, "m");

    .icon-svg {
      display: none;
    }
  }

  @if $size == "s" {

  }
}

//
// Mixin data-attributes
// --------------------------------------------------------------------------

$linkPrimarySizes: (
  "l",
  "m",
  "s",
);Mixindata-attributes$linkPrimarySizes

@mixin link-primary-sizes($root) {
  @each $key in $linkPrimarySizes {
    &[data-size="#{$key}"] {
      @include link-primary--size($root, $key, !important);
    }
  }
}
