/* ==========================================================================
   Ui-kit elements -- Slider
   ========================================================================== */

.slider {
  $root: ".slider";
  //@include media-breakpoint-down(md) {}

  position: relative;
  width: 100%;

  &__list {

  }

  &__item {
    height: 100%;
  }

  &__pagination-primary {
    @include media-breakpoint-down(xl) {
      left: px-to-rem(24px);
    }

    @include media-breakpoint-down(lg) {
      left: px-to-rem(244px);
    }

    @include media-breakpoint-down(md) {
      bottom: px-to-rem(24px);
      left: px-to-rem(176px);
    }

    @include media-breakpoint-down(sm) {
      right: 0;
      left: 0;
      display: flex;
      justify-content: center;
    }

    position: absolute;
    bottom: px-to-rem(48px);
    left: px-to-rem(244px);

    .slick-dots {
      display: flex;

      li {
        @include media-breakpoint-down(md) {
          margin-right: px-to-rem(8px);
        }

        margin-right: px-to-rem(16px);

        &:last-child {
          margin-right: 0;
        }

        button {
          @include media-breakpoint-down(md) {
            @include desc--size($root, "m");
          }

          @extend %font-weight-bold-700;

          @include transition-primary;
          @include desc--size($root, "l");

          display: flex;
          align-items: center;
          justify-content: center;
          width: px-to-rem(32px);
          height: px-to-rem(32px);
          color: $color-blue-primary;
          border: px-to-rem(2px) solid $color-blue-primary;
          border-radius: px-to-rem(32px);
          opacity: 0.3;
        }

        &.slick-active {
          button {
            opacity: 1;
          }
        }
      }
    }
  }

  &__control {
    position: absolute;
    top: px-to-rem(-120px);
    right: 0;
    display: flex;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &__arrow {
    @include transition-primary;

    display: flex;
    align-items: center;
    justify-content: center;
    width: px-to-rem(56px);
    height: px-to-rem(56px);
    margin-right: px-to-rem(8px);
    border: px-to-rem(2px) solid $color-gray-tertiary;
    border-radius: 50%;

    &:hover {
      background-color: $color-gray-tertiary;

      .icon-svg {
        @include icon--color-theme($root, "blue-primary", !important);
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &--prev {
      transform: rotate(180deg);
    }

    &--next {

    }

    .icon-svg {
      @include icon--color-theme($root, "gray-tertiary");
    }

    &--dark {
      border: px-to-rem(2px) solid $color-blue-primary;

      &:hover {
        background-color: $color-blue-primary;

        .icon-svg {
          @include icon--color-theme($root, "gray-tertiary", !important);
        }
      }

      .icon-svg {
        @include icon--color-theme($root, "blue-primary");
      }
    }
  }

  &__pagination-dots {
    position: absolute;
    bottom: 0;
    left: px-to-rem(-4px);

    &--dark {
      .slick-dots {
        li {
          button {
            &::before {
              background-color: $color-blue-primary !important;
            }
          }
        }
      }
    }

    .slick-dots {
      display: flex;


      li {
        @include media-breakpoint-down(md) {
          margin-right: 0;
        }

        margin-right: px-to-rem(8px);

        &:last-child {
          margin-right: 0;
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: px-to-rem(16px);
          height: px-to-rem(16px);
          font-size: 0;

          &::before {
            @include transition-primary;

            display: block;
            width: px-to-rem(8px);
            height: px-to-rem(8px);
            background-color: $color-gray-tertiary;
            border-radius: 50%;
            opacity: 0.2;
            content: "";
          }
        }

        &.slick-active {
          button {
            &::before {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .slick-slider {
    .slick-track {
      display: flex;
    }

    .slick-slide {
      height: auto;

      > div {
        height: 100%;
      }
    }
  }
}
