// =============================================================================
// Mixins -- form-fields
// =============================================================================

//
// fields fonts
// --------------------------------------------------------------------------

@mixin field-font($root) {
  @include media-breakpoint-down(md) {
    @include desc--size($root, "m");
  }

  @include desc--size($root, "l");
}

//
// fields placeholde
// --------------------------------------------------------------------------

@mixin field-placeholder {
  @include transition-primary;

  color: $color-dark-secondary;
  opacity: 1;
}

@mixin field-placeholder-active {
  opacity: 0;
}

//
// text fields
// --------------------------------------------------------------------------

//field size
@mixin field-height-default {
  height: px-to-rem(56px);
}

//@mixin field-height-default-l {
//  height: px-to-rem(56px);height
//}

//@mixin field-height-default-m {
//  height: px-to-rem(48px);height
//}

@mixin field-border-radius-default {
  border-radius: px-to-rem(48px);
}

//@mixin field-border-radius-default-l {
//  border-radius: px-to-rem(14px);border-radius
//}

//@mixin field-border-radius-default-m {
//  border-radius: px-to-rem(12px);border-radius
//}

@mixin field-outer-padding-default {
  padding: 0 px-to-rem(16px);
}

@mixin field-padding-default-l {
  padding: 0 px-to-rem(24px);
}

//@mixin field-padding-default-m {
//  padding: px-to-rem(12px);padding
//}

@mixin field-inner-padding-default {
  padding: 0 px-to-rem(24px);
}

//
// check fields
// --------------------------------------------------------------------------

@mixin field-check($root) {
  @include field-check-default($root);

  #{$root}

__custom {
    &::before {
      @include transition-primary;

      position: absolute;
      background-repeat: no-repeat;
      opacity: 0;
      content: '';
    }
  }

  input:checked + #{$root}

__custom,
  input[checked] + #{$root}

__custom,
  &[data-state="checked"] #{$root}

__custom {
    &::before {
      opacity: 1;
    }
  }
}

@mixin field-check-default($root) {
  display: inline-block;
  flex-grow: 0;

  #{$root}

__wrap {
    display: block;
    cursor: pointer;
  }

  #{$root}

__custom {
    @include transition-primary;

    position: absolute;
    display: inline-block;
    flex-shrink: 0;
  }

  input {
    display: none;
  }

  .label {
    display: inline-block;
  }
}

//check size
@mixin field-size-check($root) {
  @include field-label-check;

  min-width: px-to-rem(24px);
  min-height: px-to-rem(24px);

  #{$root}

__custom {
    width: px-to-rem(24px);
    height: px-to-rem(24px);

    &::before {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@mixin field-label-check {
  .label {
    margin-bottom: 0;
    font-weight: 600;
    transform: translateY(3px);
  }
}

@mixin field-padding-check-l {
  padding-left: px-to-rem(40px);
}

@mixin field-padding-check-m {
  padding-left: px-to-rem(36px);
}

//check color
@mixin field-default-check($root) {

  #{$root}

__custom {
    @extend %field-border-color-default;
    @extend %field-border-default;
  }

  &:hover,
  &[data-state="hover"] {

    #{$root}

__custom {
      @extend %field-border-color-default-active;
    }
  }
}
