// =============================================================================
// Mixins -- Desc color theme
// =============================================================================

//
// Mixin properties
// --------------------------------------------------------------------------

@mixin desc--color-theme($root, $color-theme, $important: null) {
  @if $color-theme == "dark-primary" {
    color: $color-dark-primary $important;
  }

  @if $color-theme == "dark-secondary" {
    color: $color-dark-secondary $important;
  }

  @if $color-theme == "blue-primary" {
    color: $color-blue-primary $important;
  }

  @if $color-theme == "gray-primary" {
    color: $color-gray-primary $important;
  }

  @if $color-theme == "gray-secondary" {
    color: $color-gray-secondary $important;
  }

  @if $color-theme == "gray-tertiary" {
    color: $color-gray-tertiary $important;
  }

  @if $color-theme == "inherit" {
    color: inherit $important;
  }
}

//
// Mixin data-attributes
// --------------------------------------------------------------------------

$descColorThemes: (
  "dark-primary",
  "dark-secondary",
  "blue-primary",
  "gray-primary",
  "gray-secondary",
  "gray-tertiary",
  "inherit",
);Mixindata-attributes$descColorThemes

@mixin desc-color-themes($root) {
  @each $key in $descColorThemes {
    &[data-color-theme="#{$key}"] {
      @include desc--color-theme($root, $key, !important);
    }
  }
}
