/* ==========================================================================
   Ui-kit elements -- FormField
   ========================================================================== */

.form-field {
  $root: &;
  //@include media-breakpoint-down(sm) {}

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .label {
    display: inline-block;
    margin-bottom: px-to-rem(8px);

    @include media-breakpoint-down(md) {
      @include desc--size($root, "s");
    }
  }
}
