// =============================================================================
// Mixins -- IconWrap size
// =============================================================================

//
// Mixin properties
// --------------------------------------------------------------------------

@mixin icon-wrap--size($root, $size, $important: null) {
  margin-right: px-to-rem(8px);
  border-radius: 50%;

  @if $size == "xl" {
    width: px-to-rem(88px) $important;
    height: px-to-rem(88px) $important;

    &[data-mark-notice="true"] {
      &::after {
        top: px-to-rem(4px) $important;
        right: px-to-rem(4px) $important;
      }
    }

    .icon-svg {
      @include icon--size($root, "l");
    }
  }

  @if $size == "l" {
    width: px-to-rem(64px) $important;
    height: px-to-rem(64px) $important;

    &[data-mark-notice="true"] {
      &::after {
        top: px-to-rem(4px) $important;
        right: px-to-rem(2px) $important;
      }
    }

    .icon-svg {
      @include icon--size($root, "m");
    }
  }

  @if $size == "m" {
    width: px-to-rem(48px) $important;
    height: px-to-rem(48px) $important;

    &[data-mark-notice="true"] {
      &::after {
        top: px-to-rem(2px) $important;
        right: px-to-rem(1px) $important;
      }
    }

    .icon-svg {
      @include icon--size($root, "s");
    }
  }

  @if $size == "s" {
    width: px-to-rem(40px) $important;
    height: px-to-rem(40px) $important;

    .icon-svg {
      @include icon--size($root, "s");
    }
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:only-child {
    margin-right: 0;
    margin-left: 0;
  }
}

//
// Mixin data-attributes
// --------------------------------------------------------------------------

$iconWrapSizes: (
  "xl",
  "l",
  "m",
  "s",
);Mixindata-attributes$iconWrapSizes

@mixin icon-wrap-sizes($root) {
  @each $key in $iconWrapSizes {
    &[data-size="#{$key}"] {
      @include icon-wrap--size($root, $key, !important);
    }
  }
}
