// =============================================================================
// Mixins -- Icon color theme
// =============================================================================

//
// Mixin properties
// --------------------------------------------------------------------------

@mixin icon--color-theme($root, $color-theme, $important: null) {

  //default
  @if $color-theme == "default" {
    &[data-type="fill"] {
      svg {
        fill: $color-dark-primary $important;
      }
    }

    &[data-type="stroke"] {
      svg {
        stroke: $color-dark-primary $important;
        fill-opacity: 0;
      }
    }
  }

  //dark-secondary
  @if $color-theme == "dark-secondary" {
    &[data-type="fill"] {
      svg {
        fill: $color-dark-secondary $important;
      }
    }

    &[data-type="stroke"] {
      svg {
        stroke: $color-dark-secondary $important;
        fill-opacity: 0;
      }
    }
  }

  //blue-primary
  @if $color-theme == "blue-primary" {
    &[data-type="fill"] {
      svg {
        fill: $color-blue-primary $important;
      }
    }

    &[data-type="stroke"] {
      svg {
        stroke: $color-blue-primary $important;
        fill-opacity: 0;
      }
    }
  }

  //blue-secondary
  @if $color-theme == "blue-secondary" {
    &[data-type="fill"] {
      svg {
        fill: $color-blue-secondary $important;
      }
    }

    &[data-type="stroke"] {
      svg {
        stroke: $color-blue-secondary $important;
        fill-opacity: 0;
      }
    }
  }

  //purple-primary
  @if $color-theme == "purple-primary" {
    &[data-type="fill"] {
      svg {
        fill: $color-purple-primary $important;
      }
    }

    &[data-type="stroke"] {
      svg {
        stroke: $color-purple-primary $important;
        fill-opacity: 0;
      }
    }
  }

  //orange-primary
  @if $color-theme == "orange-primary" {
    &[data-type="fill"] {
      svg {
        fill: $color-orange-primary $important;
      }
    }

    &[data-type="stroke"] {
      svg {
        stroke: $color-orange-primary $important;
        fill-opacity: 0;
      }
    }
  }

  //yellow-primary
  @if $color-theme == "yellow-primary" {
    &[data-type="fill"] {
      svg {
        fill: $color-yellow-primary $important;
      }
    }

    &[data-type="stroke"] {
      svg {
        stroke: $color-yellow-primary $important;
        fill-opacity: 0;
      }
    }
  }

  //gray-tertiary
  @if $color-theme == "gray-tertiary" {
    &[data-type="fill"] {
      svg {
        fill: $color-gray-tertiary $important;
      }
    }

    &[data-type="stroke"] {
      svg {
        stroke: $color-gray-tertiary $important;
        fill-opacity: 0;
      }
    }
  }

  //red-primary
  @if $color-theme == "red-primary" {
    &[data-type="fill"] {
      svg {
        fill: $color-red-primary $important;
      }
    }

    &[data-type="stroke"] {
      svg {
        stroke: $color-red-primary $important;
        fill-opacity: 0;
      }
    }
  }
}

//
// Mixin data-attributes
// --------------------------------------------------------------------------

$iconColorThemes: (
  "default",
  "dark-secondary",
  "blue-primary",
  "blue-secondary",
  "purple-primary",
  "orange-primary",
  "yellow-primary",
  "red-primary",
  "gray-tertiary",
);Mixindata-attributes$iconColorThemes

@mixin icon-color-themes($root) {
  @each $key in $iconColorThemes {
    &[data-color-theme="#{$key}"] {
      @include icon--color-theme($root, $key, !important);
    }
  }
}
