// =============================================================================
// Mixins -- LargeText color theme
// =============================================================================

//
// Mixin properties
// --------------------------------------------------------------------------

@mixin large-text--color-theme($root, $color-theme, $important: null) {

  //dark-primary
  @if $color-theme == "dark-primary" {
    color: $color-dark-primary $important;
  }

  //gray-tertiary
  @if $color-theme == "gray-tertiary" {
    color: $color-gray-tertiary $important;
  }

  @if $color-theme == "inherit" {
    color: inherit $important;
  }
}

//
// Mixin data-attributes
// --------------------------------------------------------------------------

$largeTextColorThemes: (
  "dark-primary",
  "gray-tertiary",
  "inherit",
);Mixindata-attributes$largeTextColorThemes

@mixin large-text-color-themes($root) {
  @each $key in $largeTextColorThemes {
    &[data-color-theme="#{$key}"] {
      @include large-text--color-theme($root, $key, !important);
    }
  }
}
