// =============================================================================
// Mixins -- LargeText size
// =============================================================================

//
// Mixin properties
// --------------------------------------------------------------------------

@mixin large-text--size($root, $size, $important: null) {
  @if $size == "l" {

    #{$root}

__value-primary {
      font-size: px-to-rem(90px) $important;
      line-height: 1.2;
    }

    #{$root}

__value-secondary {
      font-size: px-to-rem(50px) $important;
      line-height: 1.4;
    }
  }

  @if $size == "m" {

    #{$root}

__value-primary {
      font-size: px-to-rem(60px) $important;
    }

    #{$root}

__value-secondary {
      font-size: px-to-rem(30px) $important;
    }
  }

  @if $size == "s" {

  }
}

//
// Mixin data-attributes
// --------------------------------------------------------------------------

$largeTextSizes: (
  "l",
  "m",
  "s",
);Mixindata-attributes$largeTextSizes

@mixin large-text-sizes($root) {
  @each $key in $largeTextSizes {
    &[data-size="#{$key}"] {
      @include large-text--size($root, $key, !important);
    }
  }
}
