/* ==========================================================================
   Ui-kit elements -- FormGroup
   ========================================================================== */

.form-group {
  $root: &;

  @include media-breakpoint-down(md) {
    @include form-group--size($root, "m");
  }

  @include form-group-sizes($root);
  @include form-group--size($root, "l");

  &__heading {

  }

  &__content {
    display: flex;

    > * {
      display: inline-flex;
      flex-grow: 1;
    }
  }

  &[data-no-flex="true"] {

    #{$root}

__content {
      > * {
        flex-grow: 0;
      }
    }
  }

  &[data-direction="horizontal"] {

    #{$root}

__content {
      flex-flow: row wrap;
      align-items: flex-start;

      > * {
        display: inline-flex;
        flex-grow: 1;
      }
    }

    &[data-no-wrap="true"] {

      #{$root}

__content {
        flex-wrap: nowrap;
      }
    }

    &[data-position="left"] {

      #{$root}

__content {
        justify-content: flex-start;
      }
    }

    &[data-position="center"] {

      #{$root}

__content {
        justify-content: center;
      }
    }

    &[data-position="right"] {

      #{$root}

__content {
        justify-content: flex-end;
      }
    }

    &[data-position="between"] {

      #{$root}

__content {
        justify-content: space-between;
      }
    }
  }

  &[data-direction="vertical"] {

    #{$root}

__content {
      flex-direction: column;
    }

    &[data-position="left"] {

      #{$root}

__content {
        align-items: flex-start;
      }
    }

    &[data-position="center"] {

      #{$root}

__content {
        align-items: center;
      }
    }

    &[data-position="right"] {

      #{$root}

__content {
        align-items: flex-end;
      }
    }
  }
}
