/* ==========================================================================
   Component -- Steps
   ========================================================================== */

.steps {
  $root: ".steps";
  // @include media-breakpoint-down(md) {}

  @include media-breakpoint-down(md) {
    padding-top: 0;
  }

  width: 100%;
  padding-top: px-to-rem(48px);
  overflow-x: hidden;

  &__list {
    @include make-row();

    display: flex;
  }

  &__item {
    @include media-breakpoint-down(lg) {
      @include make-col(3, 6);

      height: px-to-rem(264px);
    }

    @include media-breakpoint-down(md) {
      @include make-col(6, 6);

      height: auto;
      padding-top: px-to-rem(24px);
      padding-bottom: px-to-rem(24px);

      &:first-child {
        padding-top: 0;
      }

      &:nth-last-child(-n+2) {
        padding-bottom: px-to-rem(48px);
      }

      &:last-child {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    @include make-col-ready();
    @include make-col(4);

    position: relative;
    height: px-to-rem(320px);

    &:last-child {
      @include media-breakpoint-down(md) {
        height: auto !important;
      }

      height: px-to-rem(100px);
    }

    &::before,
    &::after {
      display: block;
      content: "";
    }

    // линия (горизонтальная)
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: px-to-rem(2px);
      background-color: $color-blue-primary;
    }

    // стрелка на линии
    &::after {
      z-index: 1;
    }

    @include media-breakpoint-down(md) {

      // линия (вертикальная)
      &::before {
        bottom: 0;
        left: px-to-rem(48px);
        width: px-to-rem(2px);
        height: 100%;
      }

      &:last-child {
        &::before {
          display: none;
        }
      }
    }

    //Полукруг
    @include media-breakpoint-up(xl) {
      // После каждого 3-го элемента полукруг
      &:nth-child(3n+3) {
        &::after {
          position: relative;
          z-index: 10;
          width: px-to-rem(170px);
          height: px-to-rem(324px);
          background-color: $color-gray-primary;
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 181 324'><path fill='none' stroke='%236F75DF' stroke-width='2' d='M0,1h19.9C108.3,1,180,72.7,180,161c0,88.4-71.7,160-160.1,160H0'/></svg>");
          background-repeat: no-repeat;
          background-position: 100% 0;
          background-size: cover;
        }
      }
      // С правой стороны
      &:nth-child(6n+3) {
        &::after {
          margin-left: auto;
        }
      }

      // С левой стороны
      &:nth-child(6n+6) {
        &::after {
          margin-right: auto;
          transform: scale(-1, 1);
        }
      }
    }

    @include media-breakpoint-down(lg) {
      // После каждого 2-го элемента полукруг
      &:nth-child(2n+2) {
        &::after {
          position: relative;
          z-index: 10;
          width: px-to-rem(120px);
          height: px-to-rem(268px);
          //top: px-to-rem(-1px);
          background-color: $color-gray-primary;
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 181 324'><path fill='none' stroke='%236F75DF' stroke-width='2' d='M0,1h19.9C108.3,1,180,72.7,180,161c0,88.4-71.7,160-160.1,160H0'/></svg>");
          background-repeat: no-repeat;
          background-position: 100% 0;
          background-size: cover;
        }
      }
      // С правой стороны
      &:nth-child(4n+2) {
        &::after {
          margin-left: auto;
        }
      }

      // С левой стороны
      &:nth-child(4n+4) {
        &::after {
          margin-right: auto;
          transform: scale(-1, 1);
        }
      }
    }

    // Стрелки между шаагами
    @include media-breakpoint-up(xl) {
      // Для всех, кроме каждого 3-го элемента
      &:not(:nth-child(3n+3)) {
        &::after {
          position: absolute;
          top: px-to-rem(-12px);
          right: 8%;
          width: px-to-rem(24px);
          height: px-to-rem(24px);
          background-color: $color-gray-primary;
          background-image: url("data:image/svg+xml;utf8,<svg  viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><rect fill='%23DCDCFD'/><path d='M8 0.686523L19.3137 12.0002L8 23.3139V0.686523Z' fill='%236F75DF'/></svg>");
        }
      }

      // Разворот стрелок на 180 градусов
      &:nth-child(4),
      &:nth-child(5) {
        &::after {
          left: calc(-12% - 8px);
          transform: scale(-1, 1);
        }
      }
    }

    @include media-breakpoint-down(lg) {
      // Для всех, кроме каждого 2-го элемента
      &:not(:nth-child(2n+2)) {
        &::after {
          position: absolute;
          top: px-to-rem(-12px);
          right: 0;
          width: px-to-rem(24px);
          height: px-to-rem(24px);
          background-color: $color-gray-primary;
          background-image: url("data:image/svg+xml;utf8,<svg  viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><rect fill='%23DCDCFD'/><path d='M8 0.686523L19.3137 12.0002L8 23.3139V0.686523Z' fill='%236F75DF'/></svg>");
        }
      }

      // Разворот стрелок на 180 градусов
      &:nth-child(4n+3) {
        &::after {
          left: px-to-rem(-24px);
          transform: scale(-1, 1);
        }
      }

      &:last-child {
        &::after {
          left: unset;
        }
      }
    }

    @include media-breakpoint-down(md) {
      &::after {
        display: none;
      }
    }

    // Разворот шагов в обратном порядке
    @include media-breakpoint-down(lg) {
      &:nth-child(4) {
        order: 1;
      }

      &:nth-child(3) {
        order: 2;
      }

      &:nth-child(5) {
        order: 3;
      }

      &:nth-child(6) {
        order: 4;
      }
    }

    @include media-breakpoint-down(md) {
      &:nth-child(3),
      &:nth-child(4) {
        order: 0;
      }
    }

    // Разворот шагов в обратном порядке
    &:nth-child(6) {
      order: 1;
    }

    &:nth-child(5) {
      order: 2;
    }

    &:nth-child(4) {
      order: 3;
    }

    &:last-child {
      @include media-breakpoint-down(lg) {
        &::before {
          right: -100%;
        }

        #{$root}

__item-wrap {
          transform: initial;
        }
      }

      order: 100;

      &::before {
        right: calc(-26% - 20px);
      }

      #{$root}

__item-wrap {
        transform: translateX(calc(110% + 110px));
      }

      .step__number {
        background-color: $color-orange-primary !important;
      }
    }
  }

  &__item-wrap {
    @include media-breakpoint-down(md) {
      margin-left: 0;
    }

    position: relative;
    margin-left: px-to-rem(104px);
  }

  .icon-svg {
    @include media-breakpoint-down(md) {
      @include icon--size($root, "m");
    }

    @include icon--size($root, "l");
  }
}

.step {
  $root: ".step";

  @include media-breakpoint-down(md) {
    position: static;
    top: unset;
    left: unset;
    display: flex;
    align-items: center;
    width: 100% !important;
  }

  position: absolute;
  top: px-to-rem(-48px);
  left: 0;
  z-index: 20;

  &__pic {
    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }

    flex-shrink: 0;
    margin-bottom: px-to-rem(32px);
  }

  &__number {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: px-to-rem(88px);
    height: px-to-rem(88px);
    background-color: $color-blue-primary;
    border-radius: px-to-rem(64px);

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: px-to-rem(76px);
      height: px-to-rem(76px);
      border: px-to-rem(2px) solid $color-gray-tertiary;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      content: "";
    }

    @include media-breakpoint-down(md) {
      width: px-to-rem(64px);
      height: px-to-rem(64px);

      &::before {
        width: px-to-rem(56px);
        height: px-to-rem(56px);
      }
    }
  }

  &__content {
    @include media-breakpoint-down(md) {
      width: 100%;
      padding-right: 0;
      padding-left: px-to-rem(24px);
    }

    padding-right: 6%;

    .desc {
      @extend %font-weight-bold-700;
    }
  }
}
