/* ==========================================================================
   Ui-kit elements -- ButtonPrimary
   ========================================================================== */

.button-primary {
  $root: &;

  @include media-breakpoint-down(md) {
    @include button-primary--size($root, "m");
  }

  @extend %button;

  @include button-primary-sizes($root);
  @include button-primary-color-themes($root);
  @include button-primary--size($root, "l");
  @include transition-primary;


  &[data-before-separator] {

    #{$root}

__text-wrap {
      display: inline-flex;
      align-items: center;

      &::before {
        display: inline-block;
        content: "";
      }
    }
  }

  &__text-value {

  }
}
