html {
  height: unset;
  min-height: 100%;
}

.auth-layout {
  $root: ".auth-layout";

  display: flex;
  flex-direction: column;
  min-width: map-get($container-max-widths, xs);
  min-height: 100vh;
  background-color: #6f75df;
  background-image: url("../assets/img/auth-bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  &__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
  }

  &__base {
    display: flex;
    flex-grow: 1;
  }
}

.auth-page {
  $root: ".auth-page";

  @include media-breakpoint-down(lg) {
    padding-top: px-to-rem(64px);
  }

  @include media-breakpoint-down(md) {
    padding-top: px-to-rem(16px);
    padding-bottom: px-to-rem(16px);
  }

  //@include main-container;

  flex-grow: 1;
  padding-top: px-to-rem(128px);
  padding-bottom: px-to-rem(88px);

  &__container {
    @include section-container;
    @include section-indent-primary;

    height: 100%;
  }

  &__base {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: inherit;
  }

  &__main {
    flex-grow: 1;
  }

  &__footer {
    margin-top: auto;
  }

  // Ui-kit elements
  // --------------------------------------------

  .heading {
    $root: ".heading";

    &[data-level="2"] {
      @include media-breakpoint-down(md) {
        font-size: px-to-rem(25px) !important;
      }

      font-weight: 800;
      font-size: px-to-rem(40px) !important;
      line-height: 1.4;
    }

    &[data-level="3"] {
      @include media-breakpoint-down(md) {
        font-size: px-to-rem(20px) !important;
      }

      font-weight: 700;
      font-size: px-to-rem(30px) !important;
      line-height: 1.6;
    }

    &[data-color-theme="dark-primary"] {
      color: #04164a !important;
    }

    &[data-color-theme="gray"] {
      color: #f5f5ff !important;
    }
  }

  .desc {
    $root: ".desc";

    @include media-breakpoint-down(md) {
      font-size: px-to-rem(14px) !important;
    }

    font-weight: 500;
    font-size: px-to-rem(17px);
    line-height: 1.6;

    &[data-weight="medium"] {
      font-weight: 500;
    }

    &[data-weight="bold"] {
      font-weight: 700;
    }

    &[data-size="l"] {
      font-size: px-to-rem(17px) !important;
    }

    &[data-size="m"] {
      font-size: px-to-rem(14px) !important;
    }

    &[data-size="s"] {
      font-size: px-to-rem(12px) !important;
    }

    &[data-color-theme="dark-primary"] {
      color: #04164a !important;
    }

    &[data-color-theme="dark-secondary"] {
      color: #5a5a84 !important;
    }

    &[data-color-theme="blue-primary"] {
      color: #6f75df !important;
    }
  }

  .icon-svg {
    display: inline-flex;
    flex-grow: 0;
    flex-shrink: 0;
    transition: all 0.3s ease-in-out;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease-in-out;
    }

    &[data-state="disabled"] {
      opacity: 0.5;
    }

    &[data-size="m"] {
      width: px-to-rem(32px) !important;
      height: px-to-rem(32px) !important;
      margin-right: px-to-rem(12px) !important;
      margin-left: px-to-rem(12px) !important;
    }

    &[data-size="s"] {
      width: px-to-rem(24px) !important;
      height: px-to-rem(24px) !important;
      margin-right: px-to-rem(8px) !important;
      margin-left: px-to-rem(8px) !important;
    }

    &[data-color-theme="blue-primary"] {
      &[data-type="fill"] {
        svg {
          fill: #6f75df !important;
        }
      }

      &[data-type="stroke"] {
        svg {
          stroke: #6f75df !important;
          fill-opacity: 0;
        }
      }
    }

    &[data-color-theme="gray"] {
      &[data-type="fill"] {
        svg {
          fill: #f5f5ff !important;
        }
      }

      &[data-type="stroke"] {
        svg {
          stroke: #f5f5ff !important;
          fill-opacity: 0;
        }
      }
    }
  }

  .icon-wrap {
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &[data-size="l"] {
      width: px-to-rem(64px) !important;
      height: px-to-rem(64px) !important;

      .icon-svg {
        width: px-to-rem(32px) !important;
        height: px-to-rem(32px) !important;
        margin-right: px-to-rem(12px) !important;
        margin-left: px-to-rem(12px) !important;
      }
    }

    &[data-size="m"] {
      width: px-to-rem(48px) !important;
      height: px-to-rem(48px) !important;

      .icon-svg {
        width: px-to-rem(24px) !important;
        height: px-to-rem(24px) !important;
        margin-right: px-to-rem(8px) !important;
        margin-left: px-to-rem(8px) !important;
      }
    }

    &[data-color-theme="blue-primary"] {
      background-color: #6f75df;
      box-shadow: 0 px-to-rem(14px) px-to-rem(40px) px-to-rem(-10px) #6f75df;
    }

    &[data-color-theme="gray"] {
      background-color: #f5f5ff;
    }
  }

  .icon-text {
    display: flex;
    align-items: center;
    align-self: flex-start;

    .icon-wrap {
      margin-right: px-to-rem(24px);
    }

    .desc {
      @include media-breakpoint-down(md) {
        font-size: px-to-rem(12px) !important;
      }

      margin: 0;
      font-size: px-to-rem(14px) !important;
      line-height: 160% !important;
    }
  }

  .button-primary {
    @include media-breakpoint-down(md) {
      font-size: px-to-rem(14px) !important;
    }

    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    min-width: auto;
    height: px-to-rem(56px) !important;
    margin-right: px-to-rem(8px);
    padding-right: px-to-rem(32px);
    padding-left: px-to-rem(32px);
    font-weight: 600;
    font-size: px-to-rem(17px) !important;
    line-height: 1.6;
    text-decoration: none;
    border-radius: px-to-rem(48px);
    transition: all 0.3s ease-in-out;

    > * {
      flex-shrink: 0;
    }

    &:last-child,
    &:only-child {
      margin-right: 0;
    }

    &:focus,
    &[data-state="focus"] {
      outline: 0;
    }

    &:hover,
    &[data-state="hover"] {
      cursor: pointer;
    }

    &:active,
    &[data-state="active"] {
      cursor: pointer;
      opacity: 0.7;
    }

    &[disabled],
    &[data-state="disabled"] {
      cursor: default;
      pointer-events: none;
    }

    &[data-width="fullwidth"] {
      width: 100%;
    }

    &[data-color-theme="blue-primary-light"] {
      color: #6f75df;
      background-color: transparent;
      outline: px-to-rem(2px) solid #6f75df;

      &:hover,
      &[data-state="hover"] {
        color: #74a1f9;
        outline-color: #74a1f9;
      }

      &:focus {
        outline: px-to-rem(2px) solid #6f75df;
      }

      &:active,
      &[data-state="active"] {

      }

      &[disabled],
      &[data-state="disabled"] {

      }
    }

    &[data-color-theme="orange-primary"] {
      color: #f5f5ff;
      background-color: #ff7e20;
      box-shadow: 0 15px 32px -10px rgba(#ff7e20, 0.45);

      &:hover,
      &[data-state="hover"] {

      }

      &:focus {

      }

      &:active,
      &[data-state="active"] {

      }

      &[disabled],
      &[data-state="disabled"] {

      }
    }
  }

  .link-primary {
    @include media-breakpoint-down(md) {
      font-size: px-to-rem(12px) !important;
    }

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: auto;
    margin-right: px-to-rem(8px);
    padding-right: 0;
    padding-left: 0;
    font-weight: 700;
    font-size: px-to-rem(14px) !important;
    line-height: 1.6;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &[data-weight="medium"] {
      font-weight: 500;
    }

    &[data-weight="bold"] {
      font-weight: 700;
    }

    > * {
      flex-shrink: 0;
    }

    &:last-child,
    &:only-child {
      margin-right: 0;
    }

    &:focus,
    &[data-state="focus"] {
      outline: 0;
    }

    &:hover,
    &[data-state="hover"] {
      cursor: pointer;
    }

    &:active,
    &[data-state="active"] {
      cursor: pointer;
      opacity: 0.7;
    }

    &[disabled],
    &[data-state="disabled"] {
      cursor: default;
      opacity: 0.4;
      pointer-events: none;
    }

    &[data-size="l"] {
      font-size: px-to-rem(17px) !important;
    }

    &[data-size="m"] {
      font-size: px-to-rem(14px) !important;
    }

    &[data-size="s"] {
      font-size: px-to-rem(12px) !important;
    }

    &[data-color-theme="blue-primary"] {
      color: #6f75df;

      &[data-underline="true"] {
        &:hover,
        &[data-state="hover"],
        &:active,
        &[data-state="active"] {
          text-decoration: underline;
        }
      }

      &:hover,
      &[data-state="hover"],
      &:active,
      &[data-state="active"] {
        color: #74a1f9;
      }

      &:active,
      &[data-state="active"] {

      }

      &[disabled],
      &[data-state="disabled"] {

      }
    }
  }

  .form-field {
    $root: ".form-field";
    //@include media-breakpoint-down(sm) {}

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: px-to-rem(24px);

    &:last-child {
      margin-bottom: 0;
    }

    &__wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: px-to-rem(8px);

      > * {
        margin: 0 !important;
      }
    }

    .label {
      @include media-breakpoint-down(md) {
        font-size: px-to-rem(12px) !important;
      }

      display: inline-block;
      margin-bottom: px-to-rem(8px);
      color: #5a5a84;
      font-weight: 500;
      font-size: px-to-rem(14px);
      line-height: 1.6;
    }
  }

  .input-text {
    display: flex;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    height: px-to-rem(56px);
    padding: 0;
    color: #04164a;
    font-weight: 500;
    background-color: #dcdcfd;
    border: none;
    border-radius: px-to-rem(48px);
    transition: all 0.3s ease-in-out;

    input {
      padding: 0 px-to-rem(24px);
      background-color: transparent;

      &::placeholder {
        color: #04164a;
        opacity: 0.4;
      }
    }

    input,
    textarea {
      @include media-breakpoint-down(md) {
        font-size: px-to-rem(14px) !important;
      }

      flex-grow: 1;
      height: 100%;
      font-size: px-to-rem(17px) !important;
      line-height: 1.6;

      &::input-placeholder,
      &:-moz-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder {
        color: #04164a;
        opacity: 1;
        transition: all 0.3s ease-in-out;;
      }

      &:focus,
      &::input-placeholder,
      &:-moz-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder {
        opacity: 0;
      }
    }

    &:focus-within,
    &[data-state="focus"] {
      input,
      textarea {
        &:focus,
        &::input-placeholder,
        &:-moz-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder {
          opacity: 0;
        }
      }
    }

    &[disabled],
    &[data-state="disabled"] {
      opacity: 0.5;
      pointer-events: none;

      input,
      input:focus,
      textarea {
        pointer-events: none;
      }
    }

    &__place-before,
    &__place-after {
      display: flex;
      align-items: center;
    }
  }
}

.auth-content {
  $root: &;
  // @include media-breakpoint-down(md) {}

  &__container {

  }

  &__row {
    @include make-row();
  }

  &__col {
    @include make-col-ready();
    @include make-col(6);

    &:first-child {
      .logo {
        @include media-breakpoint-down(md) {
          width: px-to-rem(97px);
          height: px-to-rem(32px);
          margin-bottom: px-to-rem(32px);
        }

        display: block;
        flex-shrink: 0;
        width: px-to-rem(170px);
        height: px-to-rem(56px);
        margin-bottom: px-to-rem(48px);

        img {
          width: 100%;
          height: 100%;
        }
      }

      .heading {
        @include media-breakpoint-down(lg) {
          margin-bottom: px-to-rem(64px);
        }

        @include media-breakpoint-down(md) {
          margin-bottom: px-to-rem(32px);
        }

        padding-right: 16%;
      }
    }

    &:last-child {
      .form {
        @include section-small-primary-size;
        @include section-small-primary-color-2;

        display: flex;
        flex-direction: column;
        padding: px-to-rem(48px) px-to-rem(64px) px-to-rem(64px);
        box-shadow: 0 px-to-rem(50px) px-to-rem(80px) px-to-rem(-37px) rgba(#04164a, 0.3);

        &__header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: px-to-rem(24px);

          .heading {
            margin-bottom: 0;
          }

          .icon-wrap {
            @include media-breakpoint-down(md) {
              width: px-to-rem(48px) !important;
              height: px-to-rem(48px) !important;

              .icon-svg {
                width: px-to-rem(24px) !important;
                height: px-to-rem(24px) !important;
                margin-right: px-to-rem(8px) !important;
                margin-left: px-to-rem(8px) !important;
              }
            }

            width: px-to-rem(64px) !important;
            height: px-to-rem(64px) !important;

            .icon-svg {
              width: px-to-rem(32px) !important;
              height: px-to-rem(32px) !important;
              margin-right: px-to-rem(12px) !important;
              margin-left: px-to-rem(12px) !important;
            }
          }
        }

        &__body {
          display: flex;
          flex-direction: column;
        }

        &__section {
          @include media-breakpoint-down(md) {
            margin-bottom: px-to-rem(32px);
          }

          margin-bottom: px-to-rem(48px);

          &:first-child {
            .button-primary {
              @include media-breakpoint-down(md) {
                margin-top: px-to-rem(8px);
              }

              margin-top: px-to-rem(24px);
            }
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        .button-primary {
          width: 100%;
        }
      }
    }
  }
}

.auth-footer {
  $root: ".auth-footer";

  @include media-breakpoint-down(md) {
    padding-top: px-to-rem(64px);
  }

  padding-top: px-to-rem(88px);

  &__container {

  }

  &__row {
    @include make-row();
  }

  &__col {
    @include make-col-ready();
    @include make-col(6);

    &:first-child {
      @include media-breakpoint-down(lg) {
        @include make-col(4, 6);
      }

      @include media-breakpoint-down(md) {
        @include make-col(6, 6);
      }
    }

    &:last-child {
      @include media-breakpoint-down(lg) {
        @include make-col(2, 6);
      }

      @include media-breakpoint-down(md) {
        @include make-col(6, 6);

        justify-content: flex-start;
        margin-top: px-to-rem(24px);
      }

      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  .desc,
  .link-primary {
    @include media-breakpoint-down(md) {
      font-size: px-to-rem(14px) !important;
    }

    color: #f5f5ff !important;
    font-size: px-to-rem(17px) !important;
  }

  .contact-info {
    font-style: normal;

    &__list {
      @include make-row();
    }

    &__item {
      @include make-col-ready();

      &:last-child {
        margin-right: 0;
      }

      p {
        margin: 0;

        &:first-child {
          margin-bottom: px-to-rem(4px);
        }
      }
    }
  }
}
