// =============================================================================
// Extends -- form-fields
// =============================================================================

//
// Core
// --------------------------------------------------------------------------

%field-text {
  $root: &;

  @extend %field-border-default;
  @extend %field-flex-width-default;

  @include fullwidth;
  @include transition-primary;

  color: $color-dark-primary;

  input,
  textarea {
    @extend %field-flex-width-default;

    @include field-font($root);

    @include placeholder {
      @include field-placeholder;
    }

    height: 100%;
    font-weight: 500;

    &:focus {
      @include placeholder {
        @include field-placeholder-active;
      }
    }
  }

  &:focus-within,
  &[data-state="focus"] {
    input,
    textarea {
      @include placeholder {
        @include field-placeholder-active;
      }
    }
  }

  &[disabled],
  &[data-state="disabled"] {
    @extend %field-state--disabled;
  }
}

%field-check {
  &:disabled,
  &[data-state="disabled"] {
    @extend %field-state--disabled;
  }
}

//
// Auxiliary
// --------------------------------------------------------------------------

//width
%field-flex-width-default {
  flex-grow: 1;
}

//background


// border
%field-border-default {
  border: none;
}

%field-border-color-default {

}

%field-border-color-default-active {

}

//
// States
// --------------------------------------------------------------------------

%field-state--disabled {
  opacity: 0.5;
  pointer-events: none;

  input,
  input:focus,
  textarea {
    pointer-events: none;
  }
}
