// =============================================================================
// Mixins -- Heading size
// =============================================================================

//
// Mixin properties
// --------------------------------------------------------------------------

// h1 ----------

@mixin h1--size($root, $size, $important: null) {
  @if $size == "l" {
    font-size: px-to-rem(50px) $important;
    line-height: 1.4;
  }

  @if $size == "m" {
    font-size: px-to-rem(45px) $important;
  }

  @if $size == "s" {
    font-size: px-to-rem(30px) $important;
  }
}

// h2 ----------

@mixin h2--size($root, $size, $important: null) {
  @if $size == "l" {
    font-size: px-to-rem(40px) $important;
    line-height: 1.4;
  }

  @if $size == "m" {
    font-size: px-to-rem(25px) $important;
  }

  @if $size == "s" {

  }
}

// h3 ----------

@mixin h3--size($root, $size, $important: null) {
  @if $size == "l" {
    font-size: px-to-rem(30px) $important;
    line-height: 1.6;
  }

  @if $size == "m" {
    font-size: px-to-rem(20px) $important;
  }

  @if $size == "s" {

  }
}

// h4 ----------

@mixin h4--size($root, $size, $important: null) {
  @if $size == "l" {
    font-size: px-to-rem(25px) $important;
    line-height: 1.4;
  }

  @if $size == "m" {
    font-size: px-to-rem(18px) $important;
  }

  @if $size == "s" {

  }
}

// h5 ----------

@mixin h5--size($root, $size, $important: null) {
  @if $size == "l" {
    font-size: px-to-rem(20px) $important;
    line-height: 1.4;
  }

  @if $size == "m" {
    font-size: px-to-rem(16px) $important;
  }

  @if $size == "s" {
    font-size: px-to-rem(12px) $important;
  }
}

// h6 ----------

@mixin h6--size($root, $size, $important: null) {
  @if $size == "l" {

  }

  @if $size == "m" {

  }

  @if $size == "s" {

  }
}

//
// Mixin data-attributes
// --------------------------------------------------------------------------

$headingSizes: (
  "l",
  "m",
  "s",
);Mixindata-attributes$headingSizes

@mixin heading-sizes($root, $name) {
  @each $key in $headingSizes {
    &[data-size="#{$key}"] {
      @if $name == "h1" {
        @include h1--size($root, $key, !important);
      }

      @if $name == "h2" {
        @include h2--size($root, $key, !important);
      }

      @if $name == "h3" {
        @include h3--size($root, $key, !important);
      }

      @if $name == "h4" {
        @include h4--size($root, $key, !important);
      }

      @if $name == "h5" {
        @include h5--size($root, $key, !important);
      }

      @if $name == "h6" {
        @include h6--size($root, $key, !important);
      }
    }
  }
}
