// =============================================================================
// Mixins -- Heading color theme
// =============================================================================

//
// Mixin properties
// --------------------------------------------------------------------------

@mixin heading--color-theme($root, $color-theme, $important: null) {

  //dark-primary
  @if $color-theme == "dark-primary" {
    color: $color-dark-primary $important;
  }

  //orange-primary
  @if $color-theme == "orange-primary" {
    color: $color-orange-primary $important;
  }

  //blue-primary
  @if $color-theme == "blue-primary" {
    color: $color-blue-primary $important;
  }

  //gray-tertiary
  @if $color-theme == "gray-tertiary" {
    color: $color-gray-tertiary $important;
  }

  //inherit
  @if $color-theme == "inherit" {
    color: inherit $important;
  }
}

//
// Mixin data-attributes
// --------------------------------------------------------------------------

$headingColorThemes: (
  "dark-primary",
  "orange-primary",
  "blue-primary",
  "gray-tertiary",
  "inherit",
);Mixindata-attributes$headingColorThemes

@mixin heading-color-themes($root) {
  @each $key in $headingColorThemes {
    &[data-color-theme="#{$key}"] {
      @include heading--color-theme($root, $key, !important);
    }
  }
}
