// ==========================================================================
// Mixins other
// ==========================================================================

//
// Common
// --------------------------------------------------------------------------

// dimensions
@mixin full-width {
  width: 100%;
}

@mixin full-height {
  height: 100%;
}

@mixin full-fit {
  @include full-width;
  @include full-height;

  display: block;
}

// position
@mixin centring-position-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//
// Picture
// --------------------------------------------------------------------------

@mixin image-cover-fit {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;

  img {
    @include full-fit;
    @include centring-position-absolute;

    object-fit: cover;
  }
}

@mixin image-full-fit {
  img {
    @include full-fit;
  }
}

//
// Containers, indents
// --------------------------------------------------------------------------

@mixin main-section-indent-secondary {
  @include media-breakpoint-down(xl) {
    padding-right: $body-inner-indent;
    padding-left: $body-inner-indent;
  }

  @include media-breakpoint-down(md) {
    padding-right: 0;
    padding-left: 0;
  }
}

@mixin section-container {
  @include make-container-with-sides();
  @include make-container-with-sides-max-widths();
}

// фиксированная секция без гибкой заливки
@mixin section-indent-primary {
  //@include media-breakpoint-down(xl) {padding-right
  //  padding-left: px-to-rem(16px);padding-left
  //}

  //padding-right: 0;
  //padding-left: 0;
}

// фиксированная секция с гибкой заливки
@mixin section-indent-secondary {
  @include media-breakpoint-down(xl) {
    width: 100% !important;
    max-width: unset !important;
  }

  @include media-breakpoint-down(md) {
    padding-top: px-to-rem(64px);
    padding-bottom: px-to-rem(64px);
  }

  padding-top: px-to-rem(128px);
  padding-bottom: px-to-rem(128px);
}

@mixin section-indent-tertiary {
  @include media-breakpoint-down(xl) {
    width: calc(100% - 40px) !important;
    max-width: unset !important;
    padding-right: px-to-rem(20px) !important;
    padding-left: px-to-rem(20px) !important;
  }

  @include media-breakpoint-down(md) {
    width: 100% !important;
    padding: px-to-rem(64px) px-to-rem(48px) !important;
  }

  @include media-breakpoint-down(sm) {
    padding-right: px-to-rem(16px) !important;
    padding-left: px-to-rem(16px) !important;
  }

  padding-top: px-to-rem(128px);
  padding-bottom: px-to-rem(128px);
}

//
// Section primary, secondary
// --------------------------------------------------------------------------

// section small primary
@mixin section-small-primary-size {
  @include media-breakpoint-down(md) {
    padding: px-to-rem(24px);
  }

  padding: px-to-rem(48px);
  border-radius: px-to-rem(32px);
}

@mixin section-small-primary-color-1 {
  background-color: $color-gray-tertiary;
}

@mixin section-small-primary-color-2 {
  background-color: $color-gray-quaternary;
}

// section large primary
@mixin section-large-primary-size {
  @include media-breakpoint-down(md) {
    border-radius: px-to-rem(32px);
  }

  border-radius: px-to-rem(88px);
}

@mixin section-large-primary-color-1 {
  background-color: $color-blue-primary;
}

@mixin section-large-primary-color-2 {
  background-color: $color-gray-primary;
}

// section shadow
@mixin section-shadow-primary {
  box-shadow: 0 30px 80px -37px rgba($color-dark-primary, 0.5);
}

@mixin section-shadow-secondary {
  box-shadow: 0 30px 80px -37px rgba($color-blue-primary, 0.5);
}

//
// Images
// --------------------------------------------------------------------------

// preview page image
@mixin preview-image-primary {
  @include image-full-fit;

  @include media-breakpoint-down(xl) {
    top: px-to-rem(-66px);
    width: px-to-rem(415px);
    height: px-to-rem(415px);
  }

  @include media-breakpoint-down(lg) {
    position: static;
    width: px-to-rem(540px);
    height: px-to-rem(540px);
  }

  @include media-breakpoint-down(md) {
    width: px-to-rem(400px);
    height: px-to-rem(400px);
  }

  @include media-breakpoint-down(sm) {
    width: px-to-rem(300px);
    height: px-to-rem(300px);
  }

  position: absolute;
  top: px-to-rem(-43px);
  right: px-to-rem(16px);
  width: px-to-rem(540px);
  height: px-to-rem(540px);
}

//
// Background shapes
// --------------------------------------------------------------------------

// shape main primary
@mixin main-shape-bg-primary {
  position: relative;

  &::before,
  &::after {
    @include media-breakpoint-down(xl) {
      display: none;
    }

    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
  }

  &::before {
    top: px-to-rem(112px);
    left: px-to-rem(-30px);
    width: px-to-rem(235px);
    height: px-to-rem(520px);
    background-image: url("../assets/img/elements/shapes/shape-bg-secondary.svg");
    opacity: 1;
  }

  &::after {
    top: px-to-rem(-92px);
    left: px-to-rem(-882px);
    width: px-to-rem(990px);
    height: px-to-rem(886px);
    background-image: url("../assets/img/elements/shapes/shape-bg-primary.svg");
    transform: rotate(-135deg);
    opacity: 0.25;
  }
}

@mixin main-shape-bg-secondary {
  position: relative;

  &::before,
  &::after {
    @include media-breakpoint-down(md) {
      display: none;
    }

    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
  }

  &::before {
    @include media-breakpoint-down(xl) {
      top: px-to-rem(-64px);
      right: px-to-rem(-20px);
      width: px-to-rem(135px);
      height: px-to-rem(298px);
    }

    top: px-to-rem(-116px);
    right: px-to-rem(-116px);
    width: px-to-rem(235px);
    height: px-to-rem(520px);
    background-image: url("../assets/img/elements/shapes/shape-bg-secondary.svg");
    transform: rotate(-120deg);
    opacity: 0.8;
  }

  &::after {
    @include media-breakpoint-down(xl) {
      top: px-to-rem(-314px);
      right: px-to-rem(-242px);
      width: px-to-rem(560px);
      height: px-to-rem(502px);
    }

    @include media-breakpoint-down(lg) {
      top: px-to-rem(-244px);
      right: px-to-rem(-218px);
      width: px-to-rem(460px);
      height: px-to-rem(412px);
    }

    top: px-to-rem(-292px);
    right: px-to-rem(-378px);
    width: px-to-rem(780px);
    height: px-to-rem(698px);
    background-image: url("../assets/img/elements/shapes/shape-bg-primary.svg");
    transform: rotate(18deg);
    opacity: 0.3;
  }
}

// shape section primary
@mixin section-shape-bg-primary {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
  }

  &::before {
    @include media-breakpoint-down(xl) {
      top: px-to-rem(240px);
      right: px-to-rem(32px);
      width: px-to-rem(128px);
      height: px-to-rem(282px);
      transform: rotate(-90deg);
    }

    @include media-breakpoint-down(lg) {
      top: px-to-rem(-358px);
      right: px-to-rem(-118px);
      width: px-to-rem(200px);
      height: px-to-rem(442px);
    }

    @include media-breakpoint-down(md) {
      display: none;
    }

    top: px-to-rem(-40px);
    right: px-to-rem(-450px);
    width: px-to-rem(235px);
    height: px-to-rem(520px);
    background-image: url("../assets/img/elements/shapes/shape-bg-secondary.svg");
    transform: rotate(-120deg);
    opacity: 0.9;
  }

  &::after {
    @include media-breakpoint-down(xl) {
      top: px-to-rem(-590px);
      right: px-to-rem(-764px);
      width: px-to-rem(1220px);
      height: px-to-rem(1094px);
    }

    @include media-breakpoint-down(lg) {
      top: px-to-rem(-236px);
      right: px-to-rem(-212px);
      width: px-to-rem(1028px);
      height: px-to-rem(920px);
    }

    @include media-breakpoint-down(md) {
      top: px-to-rem(-215px);
      left: px-to-rem(-16px);
      width: px-to-rem(750px);
      height: px-to-rem(672px);
      transform: rotate(0deg);
      opacity: 0.4;
    }

    @include media-breakpoint-down(sm) {
      top: px-to-rem(-205px);
      left: px-to-rem(-48px);
      width: px-to-rem(620px);
      height: px-to-rem(556px);
    }

    top: px-to-rem(-542px);
    right: px-to-rem(-702px);
    z-index: -1;
    width: px-to-rem(1320px);
    height: px-to-rem(1182px);
    background-image: url("../assets/img/elements/shapes/shape-bg-primary.svg");
    transform: rotate(18deg);
    opacity: 0.3;
  }
}

// shape section secondary
@mixin section-shape-bg-secondary-lateral {
  position: relative;

  &::before,
  &::after {
    @include media-breakpoint-down(xl) {
      display: none;
    }

    position: absolute;
    width: px-to-rem(440px);
    height: px-to-rem(394px);
    background-image: url("../assets/img/elements/shapes/shape-bg-primary.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    transform: rotate(64deg);
    opacity: 0.2;
    content: "";
  }

  &::before {
    top: px-to-rem(565px);
    left: px-to-rem(-220px);
  }

  &::after {
    top: px-to-rem(188px);
    right: px-to-rem(-302px);
  }
}

@mixin section-shape-bg-secondary-center {
  &::before {
    @include media-breakpoint-down(xl) {
      top: px-to-rem(-200px);
      left: px-to-rem(32px);
      width: px-to-rem(986px);
      height: px-to-rem(884px);
    }

    @include media-breakpoint-down(md) {
      top: px-to-rem(-68px);
      left: px-to-rem(-208px);
      width: px-to-rem(740px);
      height: px-to-rem(662px);
    }

    position: absolute;
    top: px-to-rem(-212px);
    left: px-to-rem(140px);
    width: px-to-rem(960px);
    height: px-to-rem(860px);
    background-image: url("../assets/img/elements/shapes/shape-bg-primary.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    transform: rotate(64deg);
    opacity: 0.2;
    content: "";
  }
}

// shape section tertiary
@mixin section-shape-bg-tertiary {
  position: relative;
  overflow: hidden;

  &::before,
  &::after {
    position: absolute;
    background-image: url("../assets/img/elements/shapes/shape-bg-primary.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
  }

  &::before {
    @include media-breakpoint-down(xl) {
      top: px-to-rem(-348px);
      left: px-to-rem(-552px);
    }

    @include media-breakpoint-down(md) {
      top: px-to-rem(-424px);
      left: px-to-rem(-538px);
      width: px-to-rem(798px);
      height: px-to-rem(716px);
    }

    @include media-breakpoint-down(sm) {
      top: px-to-rem(-424px);
      left: px-to-rem(-538px);
    }

    top: px-to-rem(-458px);
    left: px-to-rem(-348px);
    width: px-to-rem(960px);
    height: px-to-rem(860px);
    transform: rotate(165deg);
    opacity: 0.8;
  }

  &::after {
    @include media-breakpoint-down(xl) {
      right: px-to-rem(-1184px);
    }

    @include media-breakpoint-down(md) {
      right: px-to-rem(-198px);
      bottom: px-to-rem(-208px);
      width: px-to-rem(452px);
      height: px-to-rem(404px);
    }

    right: px-to-rem(-920px);
    bottom: px-to-rem(-780px);
    width: px-to-rem(1594px);
    height: px-to-rem(1428px);
    transform: rotate(24deg);
    opacity: 0.3;
  }
}

// shape section quaternary
@mixin section-shape-bg-quaternary {
  position: relative;

  &::before {
    @include media-breakpoint-down(lg) {
      bottom: px-to-rem(-168px);
      left: px-to-rem(-86px);
    }

    @include media-breakpoint-down(md) {
      bottom: px-to-rem(-148px);
      left: px-to-rem(-112px);
      transform: scale(0.56);
    }

    position: absolute;
    bottom: px-to-rem(-16px);
    left: 0;
    z-index: -1;
    width: px-to-rem(364px);
    height: px-to-rem(328px);
    background-image: url("../assets/img/elements/shapes/shape-bg-tertiary.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
  }
}

// shape section quinary
@mixin section-shape-bg-quinary {
  position: relative;

  &::before,
  &::after {
    @include media-breakpoint-down(xl) {
      width: px-to-rem(348px);
      height: px-to-rem(312px);
    }

    position: absolute;
    z-index: -1;
    width: px-to-rem(560px);
    height: px-to-rem(502px);
    background-image: url("../assets/img/elements/shapes/shape-bg-primary.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
  }

  &::before {
    @include media-breakpoint-down(xl) {
      top: px-to-rem(-116px);
      left: px-to-rem(196px);
    }

    @include media-breakpoint-down(lg) {
      top: px-to-rem(-64px);
      left: px-to-rem(94px);
      width: px-to-rem(266px);
      height: px-to-rem(238px);
    }

    @include media-breakpoint-down(md) {
      top: px-to-rem(-102px);
      left: px-to-rem(40px);
      width: px-to-rem(360px);
      height: px-to-rem(322px);
    }

    top: px-to-rem(-120px);
    left: px-to-rem(232px);
    transform: rotate(64deg);
    opacity: 0.6;
  }

  &::after {
    @include media-breakpoint-down(xl) {
      right: px-to-rem(92px);
      bottom: px-to-rem(124px);
      width: px-to-rem(350px);
      height: px-to-rem(314px);
    }

    @include media-breakpoint-down(lg) {
      right: 0;
      bottom: px-to-rem(190px);
    }

    @include media-breakpoint-down(md) {
      display: none;
    }

    right: px-to-rem(-32px);
    bottom: px-to-rem(116px);
    transform: rotate(-24deg);
    opacity: 0.4;
  }
}

//
// Sections
// --------------------------------------------------------------------------

// preview section
@mixin section-preview-primary($root) {
  &__container {
    @include section-container;
    @include section-indent-primary;
  }

  &__row {
    @include make-row();
  }

  &__col {
    @include media-breakpoint-down(lg) {
      @include make-col(6, 6);
    }

    @include make-col-ready();
    @include make-col(6);
  }

  &__content {
    @include media-breakpoint-down(lg) {
      margin-bottom: px-to-rem(64px);
    }

    @include media-breakpoint-down(md) {
      margin-bottom: px-to-rem(48px);
    }

    > .heading {
      @include media-breakpoint-down(md) {
        margin-bottom: px-to-rem(24px);

        br {
          display: none;
        }
      }

      margin-top: 0;
      margin-bottom: px-to-rem(32px);
    }

    > .desc {
      @include media-breakpoint-down(xl) {
        padding-right: 0;
      }

      @include media-breakpoint-down(lg) {
        padding-right: 20%;
      }

      @include media-breakpoint-down(md) {
        margin-bottom: px-to-rem(32px);
        padding-right: 8%;
      }

      @include media-breakpoint-down(sm) {
        padding-right: 0;
      }

      margin-top: 0;
      margin-bottom: px-to-rem(48px);
      padding-right: 18%;
      color: $color-dark-primary;
    }

    > .button-primary {
      @include media-breakpoint-down(md) {
        @include full-width;

        margin-bottom: px-to-rem(32px);
      }

      min-width: px-to-rem(240px);
      margin-bottom: px-to-rem(64px);

      &:last-child {
        margin-bottom: 0;
      }
    }

    > .icon-text {
      .desc {
        @include media-breakpoint-down(sm) {
          padding-right: 6%;

          br {
            display: none;
          }
        }
      }
    }
  }

  &__pic {
    @include media-breakpoint-down(lg) {
      display: flex;
      justify-content: center;
      margin-bottom: px-to-rem(48px);
    }

    @include media-breakpoint-down(md) {
      margin-bottom: px-to-rem(32px);
    }

    @include section-shape-bg-primary;
  }

  &__img {
    @include preview-image-primary;
  }
}