/* ==========================================================================
   Ui-kit component -- popup
   ========================================================================== */

.fancybox-bg {
  background: $popup-overlay-bg;
}

.fancybox-is-open {
  .fancybox-bg {
    opacity: $popup-overlay-opacity;
  }
}

.popup {
  $root: &;

  @include media-breakpoint-down(lg) {
    border-radius: px-to-rem(24px);
  }

  @include media-breakpoint-down(md) {
    border-radius: px-to-rem(16px);
  }

  @include section-shadow-secondary;

  position: relative;
  display: none;
  padding: 0;
  text-align: center;
  background-color: $color-gray-quaternary;
  border-radius: px-to-rem(32px);

  &__wrap {
    @include media-breakpoint-down(lg) {
      padding: px-to-rem(24px);
    }

    @include media-breakpoint-down(md) {
      padding: px-to-rem(16px);
    }

    height: 100%;
    padding: px-to-rem(48px);
    text-align: left;
  }

  &__header {
    @include media-breakpoint-down(sm) {
      margin-bottom: px-to-rem(24px);
    }

    margin-bottom: px-to-rem(32px);
  }

  &__body {
    height: inherit;
  }

  &__footer {
    @include media-breakpoint-down(md) {
      margin-top: px-to-rem(32px);
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      margin-top: px-to-rem(24px);
    }

    display: flex;
    margin-top: px-to-rem(48px);

    .button-primary {
      @include media-breakpoint-down(sm) {
        flex-basis: auto;
        margin-right: 0;
        margin-bottom: px-to-rem(16px);
      }

      flex-basis: 0;
      flex-grow: 1;
      margin-right: px-to-rem(24px);

      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }

  &__close {
    @include media-breakpoint-down(md) {
      width: px-to-rem(40px) !important;
      min-width: unset !important;
      height: px-to-rem(40px) !important;
      padding: 0 !important;
      box-shadow: 0 0 0 px-to-rem(8px) rgba($color-gray-quaternary, 1);
    }

    @include button-primary--size($root, "m", !important);
    @include button-primary--color-theme($root, "blue-primary");

    position: absolute;
    top: px-to-rem(16px);
    right: px-to-rem(16px);
    z-index: 1;
    margin: 0;
    box-shadow: 0 0 0 px-to-rem(16px) rgba($color-gray-quaternary, 1);
  }
}
