// =============================================================================
// Mixins -- FormGroup size
// =============================================================================

//
// Mixin properties
// --------------------------------------------------------------------------

@mixin form-group--size($root, $size, $important: null) {
  &[data-direction="horizontal"] {

    #{$root}

__content {
      > * {
        &:last-child {
          margin-right: 0 $important;
        }
      }
    }
  }

  &[data-direction="vertical"] {

    #{$root}

__content {
      > * {
        &:last-child {
          margin-bottom: 0 $important;
        }
      }
    }
  }

  #{$root}

__heading {
    margin-bottom: px-to-rem(8px);
  }

  //size L
  @if $size == "l" {

  }

  //size M
  @if $size == "m" {
    &[data-direction="horizontal"] {

      #{$root}

__content {
        margin-bottom: px-to-rem(-16px);

        > * {
          margin-right: px-to-rem(16px);
          margin-bottom: px-to-rem(16px);
        }
      }
    }

    &[data-direction="vertical"] {

      #{$root}

__content {
        > * {
          margin-bottom: px-to-rem(16px);
        }
      }
    }
  }

  //size M
  @if $size == "s" {

  }
}

//
// Mixin data-attributes
// --------------------------------------------------------------------------

$formGroupSizes: (
  "l",
  "m",
  "s",
);Mixindata-attributes$formGroupSizes

@mixin form-group-sizes($root) {
  @each $key in $formGroupSizes {
    &[data-size="#{$key}"] {
      @include form-group--size($root, $key, !important);
    }
  }
}
