// =============================================================================
// Mixins -- TablePrimary size
// =============================================================================

//
// Mixin properties
// --------------------------------------------------------------------------

@mixin table-primary--size($root, $size, $important: null) {
  @include fullwidth;

  tr {
    border-bottom-width: px-to-rem(1px);
  }

  @if $size == "l" {
    th,
    td {
      padding: px-to-rem(16px) 0;
    }

    th,
    td {
      @include desc--size($root, "l");
    }
  }

  @if $size == "m" {
    th,
    td {
      padding: px-to-rem(8px) 0;
    }

    th,
    td {
      @include desc--size($root, "m");
    }
  }

  @if $size == "s" {

  }
}

//
// Mixin data-attributes
// --------------------------------------------------------------------------

$tablePrimarySizes: (
  "l",
  "m",
  "s",
);Mixindata-attributes$tablePrimarySizes

@mixin table-primary-sizes($root) {
  @each $key in $tablePrimarySizes {
    &[data-size="#{$key}"] {
      @include table-primary--size($root, $key, !important);
    }
  }
}
