// =============================================================================
// Mixins -- Tag color theme
// =============================================================================

//
// Mixin properties
// --------------------------------------------------------------------------

@mixin tag--color-theme($root, $color-theme, $important: null) {
  /* blue-primary-light */
  @if $color-theme == "blue-primary-light" {
    color: $color-blue-primary;
    border-color: $color-blue-primary;
  }
}

//
// Color themes
// --------------------------------------------------------------------------

$tagColorThemes: (
  "blue-primary-light",
);Colorthemes$tagColorThemes

@mixin tag-color-themes($root) {
  @each $key in $tagColorThemes {
    &[data-color-theme="#{$key}"] {
      @include tag--color-theme($root, $key);
    }
  }
}
