// =============================================================================
// Mixins -- Tag size
// =============================================================================

//
// Mixin properties
// --------------------------------------------------------------------------

@mixin tag--size($root, $size, $important: null) {
  border-width: 2px;
  border-style: solid;
  border-radius: px-to-rem(32px) $important;

  @if $size == "l" {
    @include media-breakpoint-down(md) {
      @include tag--size($root, "m");
    }

    @include desc--size($root, "m");

    min-width: px-to-rem(38px) $important;
    height: px-to-rem(38px) $important;
    padding-right: px-to-rem(12px) $important;
    padding-left: px-to-rem(12px) $important;

    .icon-svg {
      &:first-child {
        margin-left: px-to-rem(-4px) $important;
      }

      &:last-child {
        margin-right: px-to-rem(-4px) $important;
      }
    }
  }

  @if $size == "m" {
    @include desc--size($root, "s");

    min-width: px-to-rem(35px) $important;
    height: px-to-rem(35px) $important;
    padding-right: px-to-rem(12px) $important;
    padding-left: px-to-rem(12px) $important;
  }

  @if $size == "s" {

  }
}

//
// Mixin data-attributes
// --------------------------------------------------------------------------

$tagSizes: (
  "l",
  "m",
  "s",
);Mixindata-attributes$tagSizes

@mixin tag-sizes($root) {
  @each $key in $tagSizes {
    &[data-size="#{$key}"] {
      @include tag--size($root, $key, !important);
    }
  }
}
