/* ==========================================================================
   Ui-kit elements -- Blockquote
   ========================================================================== */

.blockquote {
  $root: &;
  //@include media-breakpoint-down(md) {}

  @include media-breakpoint-down(md) {
    @include blockquote--size($root, "m");
  }

  @include blockquote-sizes($root);
  @include blockquote-color-themes($root);
  @include blockquote--size($root, "l");
  @include blockquote--color-theme($root, "dark-primary");

  position: relative;

  .icon-svg {
    position: absolute;
  }
}
