/* ==========================================================================
   Ui-kit elements -- Select
   ========================================================================== */

.select {
  $root: &;

  @include media-breakpoint-down(sm) {

  }

}

.default-select {
  line-height: 0;

  .selectize-input {
    $root: ".selectize-input";

    @include desc--size($root, "l");
    @include desc--color-theme($root, "dark-primary");

    display: flex !important;
    align-items: center;
    min-width: px-to-rem(280px);
    height: px-to-rem(56px);
    padding-right: px-to-rem(64px);
    padding-left: px-to-rem(24px);
    font-weight: 600;
    background-color: $color-gray-primary !important;
    border: none;
    border-radius: px-to-rem(48px);
    box-shadow: none;

    &::before {
      display: none;
    }

    &::after {
      width: px-to-rem(24px) !important;
      height: px-to-rem(24px) !important;
      margin-top: 0 !important;
      background-image: url("data:image/svg+xml,<svg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M10 18.5L16 12.5L10 6.5' stroke='%235a5a84' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
      border: none !important;
      transform: translateY(-50%) rotate(90deg) scale(1, 1) !important;
    }

    &:focus,
    &:focus:hover {
      input {
        @include placeholder {
          opacity: 0;
        }
      }
    }
  }

  .selectize-dropdown {
    $root: ".selectize-dropdown";

    @include section-shadow-secondary;
    @include desc--size($root, "l");
    @include desc--color-theme($root, "dark-primary", !important);

    z-index: 20;
    line-height: 1.6;
    margin-top: px-to-rem(8px);
    overflow: hidden;
    font-weight: 500;
    background-color: $color-gray-quaternary;
    border-radius: px-to-rem(12px);

    .option {
      @include transition-primary;

      padding: px-to-rem(12px) px-to-rem(16px);

      /* &.selected {
        background-color: $color-blue-tertiary !important;
      } */

      &.active {
        @include desc--color-theme($root, "dark-primary", !important);

        background-color: $color-gray-secondary;
      }
    }
  }
}
