/* ==========================================================================
   Ui-kit elements -- TablePrimary
   ========================================================================== */

.table-primary {
  $root: ".table-primary";

  @include media-breakpoint-down(md) {
    @include table-primary--size($root, "m");
  }

  @include table-primary-color-themes($root);
  @include table-primary--color-theme($root, "default");
  @include table-primary-sizes($root);
  @include table-primary--size($root, "l");

  tr {
    border-bottom-style: solid;
  }

  td,
  th {
    @include media-breakpoint-down(md) {
      padding: px-to-rem(13px) 0;
    }

    padding: px-to-rem(18.5px) 0;
    text-align: left;
  }

  th {
    vertical-align: top;
  }
}

.table-primary-wrap {
  $root: ".table-secondary-wrap";

  @include media-breakpoint-down(md) {
    padding: px-to-rem(16px);

    > h3 {
      margin-bottom: px-to-rem(32px);
    }
  }

  @include media-breakpoint-down(sm) {
    padding-top: px-to-rem(24px);
  }

  padding: px-to-rem(48px);
  overflow: hidden;
  background-color: $color-gray-tertiary;
  border-radius: px-to-rem(32px);
  box-shadow: 0 px-to-rem(30px) px-to-rem(80px) px-to-rem(-37px) rgba($color-blue-secondary, 0.52);

  &__header {
    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: px-to-rem(32px);
    }

    display: flex;
    align-items: center;
    margin-bottom: px-to-rem(48px);

    .icon-wrap {
      @include media-breakpoint-down(md) {
        @include icon-wrap--size($root, "l");

        margin-right: px-to-rem(16px);

        .icon-svg {
          width: px-to-rem(35px) !important;
          height: px-to-rem(35px) !important;
        }
      }

      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }

      @include icon-wrap--size($root, "xl");

      margin-right: px-to-rem(32px);
    }

    .heading {
      @include media-breakpoint-down(xl) {
        padding-right: 8%;

        br {
          display: none;
        }
      }

      @include media-breakpoint-down(lg) {
        padding-right: 0;
      }

      @include media-breakpoint-down(md) {
        padding-right: 5%;
      }

      @include media-breakpoint-down(sm) {
        margin-top: px-to-rem(16px);
        padding-right: 0;
        text-align: center;
      }

      margin-top: 0;
      margin-bottom: 0;
    }

    .link-primary {
      .icon-svg {
        display: inline-flex;
      }
    }
  }

  &__header-group {
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
    }

    display: flex;
    align-items: center;
    width: 100%;
  }

  &__footer {
    @include media-breakpoint-down(md) {
      margin-top: px-to-rem(32px);
    }

    margin-top: px-to-rem(48px);

    .button-primary {
      @include media-breakpoint-down(md) {
        width: 100%;
        min-width: unset !important;
      }

      min-width: px-to-rem(340px) !important;
    }
  }

  > h3 {
    margin-bottom: px-to-rem(48px);
  }
}