$color-black: #000;ColorsBrandScale$color-blue-primary
$color-blue-secondary:   #74a1f9;
$color-blue-tertiary:    #babaea;ColorsDarkScale$color-dark-primary
$color-dark-secondary:   #5a5a84;ColorsGrayScale$color-gray-primary
$color-gray-secondary:   #e5e5ff;
$color-gray-tertiary:    #f5f5ff;
$color-gray-quaternary:  #ececff;ColorsAdditionalScale$color-orange-primary
$color-red-primary:      #eb5757;
$color-purple-primary:   #b767d3;
$color-yellow-primary:   #ffb950;

//
// Fonts
// -----------------------------------------------------------------------------

// Fonts Secure
$secure-fonts: arial, helvetica, "Nimbus Sans", sans-serif;FontsFontsSecure$secure-fonts
// Fonts Brand
$font-manrope: "Manrope", $secure-fonts;FontsBrand$font-manrope
// Font size default
$default-font-size: 16px;Fontsizedefault$default-font-size
// =============================================================================
// Variables
// =============================================================================

//
// Body
// -----------------------------------------------------------------------------

// Grid Variables
$body-bg: $color-gray-quaternary;VariablesBodyGridVariables$body-bg
$body-color: $color-dark-primary;
$body-font-family: $font-manrope;
$body-font-size: $default-font-size;

$body-inner-indent : 32px;

//
// Grid
// -----------------------------------------------------------------------------

$mobile: media-breakpoint-up;Grid$mobile
$desktop: media-breakpoint-down;

//$breakpointDirection: $mobile;GridVariables$enable-grid-classes
$grid-columns-12: 12;
$grid-columns-6: 6;
$grid-columns: $grid-columns-12;
$grid-gutter-width: 32px;
$grid-gutter-width-small: 16px;
$grid-side-width: 0;Gridmaps$grid-columns-map

$grid-gutter-width-map: (
  //xs: $grid-gutter-width-small,
  sm: $grid-gutter-width-small,
  md: $grid-gutter-width-small,
  lg: $grid-gutter-width,
  xl: $grid-gutter-width,
  xxl: $grid-gutter-width,
  xxxl: $grid-gutter-width,
);

$grid-side-width-map: (
  //xs: 0,
  sm: 32px,
  md: 32px,
  lg: 96px,
  xl: 96px,
  xxl: 140px,
  xxxl: 640px,
);

$container-max-widths: (
  // desktop-only version
  //  sm: 1200px
  //
  // responsive version
  //xs: 360px,
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 100%,
  xxl: 1218px,
  xxxl: 1218px,
);OtherTransition$transition-primary

//
// Popups
// -----------------------------------------------------------------------------

// Popups Variables
$popup-overlay-bg: $color-blue-primary;PopupsPopupsVariables$popup-overlay-bg
$popup-overlay-opacity: 0.3;
$popup-width: 800px;