// =============================================================================
// Extends -- Icon
// =============================================================================

//
// Core
// --------------------------------------------------------------------------

%icon {
  display: inline-flex;
  flex-grow: 0;
  flex-shrink: 0;

  svg {
    @include fluid-position;
    @include transition-primary;
  }

  &[data-state="disabled"] {
    @extend %icon-state--disabled;
  }
}

//
// Dimensions
// --------------------------------------------------------------------------


//
// States
// --------------------------------------------------------------------------

%icon-state--disabled {
  opacity: 0.5;
}
