// =============================================================================
// Mixins -- ButtonPrimary size
// =============================================================================

//
// Mixin properties
// --------------------------------------------------------------------------

@mixin button-primary--size($root, $size, $important: null) {

  //&[data-before-separator="true"] {
  //
  //  #{$root}

__text-wrap {
  //
  //    &::before {
  //      width: px-to-rem(1px);width
  //    }
  //  }
  //}

  @if $size == "l" {
    min-width: px-to-rem(56px) $important;
    height: px-to-rem(56px) $important;
    padding-right: px-to-rem(32px) $important;
    padding-left: px-to-rem(32px) $important;
    border-radius: px-to-rem(48px) $important;

    //&[data-mark-notice="true"] {
    //
    //  &:after {top
    //    right: px-to-rem(2px);right
    //  }
    //}
    //
    //&[data-before-separator="true"] {
    //
    //  #{$root}

__text-wrap {
    //
    //    &::before {margin-right
    //      margin-left: px-to-rem(4px);margin-left
    //    }
    //  }
    //}

    #{$root}

__text {
      @include media-breakpoint-down(md) {
        @include desc--size($root, "m");
      }

      @include desc--size($root, "l");
    }

    #{$root}

__text-value {
      margin-left: px-to-rem(4px);
    }

    .icon-svg {
      &:first-child {
        margin-left: px-to-rem(-4px) $important;
      }

      &:last-child {
        margin-left: px-to-rem(12px) $important;
      }

      &:only-child {
        margin-right: px-to-rem(-4px) $important;
        margin-left: px-to-rem(-4px) $important;
      }
    }
  }

  @if $size == "m" {
    min-width: px-to-rem(48px) $important;
    height: px-to-rem(48px) $important;
    padding-right: px-to-rem(24px) $important;
    padding-left: px-to-rem(24px) $important;
    border-radius: px-to-rem(48px) $important;

    //&[data-before-separator="true"] {
    //
    //  #{$root}

__text-wrap {
    //
    //    &::before {height
    //      margin-right: px-to-rem(12px);margin-right
    //      margin-left: 0;margin-left
    //    }
    //  }
    //}
    //
    //&[data-mark-notice="true"] {
    //
    //  &:after {top
    //    right: px-to-rem(1px);right
    //  }
    //}

    .icon-svg {
      &:first-child {
        margin-left: px-to-rem(-12px) $important;
      }

      &:last-child {
        margin-left: px-to-rem(12px) $important;
      }

      &:only-child {
        margin-right: px-to-rem(-12px) $important;
        margin-left: px-to-rem(-12px) $important;
      }
    }
  }

  @if $size == "s" {

  }

  &--circle {
    &[data-size] {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }
}

//
// Mixin data-attributes
// --------------------------------------------------------------------------

$buttonPrimarySizes: (
  "l",
  "m",
  "s",
);Mixindata-attributes$buttonPrimarySizes

@mixin button-primary-sizes($root) {
  @each $key in $buttonPrimarySizes {
    &[data-size="#{$key}"] {
      @include button-primary--size($root, $key, !important);
    }
  }
}
