/* ==========================================================================
   Ui-kit elements -- LinkPrimary
   ========================================================================== */

.link-primary {
  $root: &;

  @include media-breakpoint-down(md) {
    @include link-primary--size($root, "m");
  }

  @extend %link;

  @include link-primary-color-themes($root);
  @include link-primary--color-theme($root, "");
  @include link-primary-sizes($root);
  @include link-primary--size($root, "l");

  display: inline-flex;
  align-items: center;
  justify-content: center;

  &__text {
    flex-shrink: 1 !important;
  }
}
