// =============================================================================
// Mixins -- input-text color theme
// =============================================================================

//
// Mixin properties
// --------------------------------------------------------------------------

@mixin input-text--color-theme($root, $color-theme, $important: null) {

  //gray-primary
  @if $color-theme == "gray-primary" {
    color: $color-dark-primary;
    background-color: $color-gray-primary;

    input {
      background-color: transparent;

      &::placeholder {
        color: $color-dark-primary;
        opacity: 0.4;
      }
    }

    &:focus-within,
    &[data-state="focus"] {

    }
  }

  //gray-tertiary
  @if $color-theme == "gray-tertiary" {
    color: $color-dark-primary;
    background-color: $color-gray-tertiary;

    input {
      background-color: transparent;

      &::placeholder {
        color: $color-dark-secondary;
        opacity: 0.7;
      }
    }

    &:focus-within,
    &[data-state="focus"] {

    }
  }
}

//
// Color themes
// --------------------------------------------------------------------------

$inputTextColorThemes: (
  "gray-tertiary",
  "gray-primary",
);Colorthemes$inputTextColorThemes

@mixin input-text-color-themes($root) {
  @each $key in $inputTextColorThemes {
    &[data-color-theme="#{$key}"] {
      @include input-text--color-theme($root, $key);
    }
  }
}
