/* ==========================================================================
   Ui-kit elements -- TableSecondary
   ========================================================================== */

.table-secondary {
  $root: ".table-secondary";

  width: calc(100% + 32px);
  margin-right: px-to-rem(-16px);
  margin-left: px-to-rem(-16px);
  border-collapse: separate;
  border-spacing: px-to-rem(16px) 0;

  tr {

  }

  td,
  th {
    @include media-breakpoint-down(md) {
      @include desc--size($root, "m");
    }

    @include desc--size($root, "l");

    text-align: center;
    background-color: $color-gray-secondary;

    &:first-child {
      padding-right: 4%;
      text-align: left;
      background-color: transparent;
    }
  }

  th {
    @include desc--color-theme($root, "dark-primary");

    width: 14%;
    padding-top: px-to-rem(24px);
    padding-bottom: px-to-rem(24px);
    font-weight: 700;
    border-top-left-radius: px-to-rem(16px);
    border-top-right-radius: px-to-rem(16px);

    &:first-child {
      width: 30%;
    }
  }

  td {
    @include desc--color-theme($root, "blue-primary");

    padding-top: px-to-rem(16px);
    padding-bottom: px-to-rem(16px);
    font-weight: 500;

    &:first-child {
      @include desc--color-theme($root, "dark-secondary");
    }
  }

  &__body {
    tr {
      &:last-child {
        td {
          padding-top: px-to-rem(12px);
          padding-bottom: px-to-rem(12px);
          border-bottom-right-radius: px-to-rem(16px);
          border-bottom-left-radius: px-to-rem(16px);

          &::after {
            display: none;
          }
        }
      }
    }

    td {
      position: relative;
      padding-top: px-to-rem(16px);
      padding-bottom: px-to-rem(16px);

      &::after {
        position: absolute;
        bottom: 0;
        display: block;
        width: calc(100% + 16px);
        height: 1px;
        background-color: rgba($color-blue-primary, 0.15);
        content: "";
      }
    }
  }

  &__group-heading {
    &:first-child {
      td {
        padding-top: 0;
      }
    }

    td {
      @include h5--size($root, "l");
      @include heading--color-theme($root, "dark-primary", !important);

      padding-top: px-to-rem(48px);
      font-weight: 700;
    }
  }

  &__cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
